---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <main class="space-y-4">
    <p>I'm Fuzzy, and I like good food, good design, and bad puns.</p>
    <p>
      I'm also notorious for never getting anything done so this blog is
      something of an experiment. The idea is that if I can spend 5 hours trying
      to deploy it, I can do anything.
    </p>
    <p>
      There's nothing on it, but you can check out my Github
      <a
        href="https://www.github.com/fuzzew"
        target="_blank"
        class="text-green-600 underline">here</a
      >
    </p>
  </main>
</Layout>
